*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    /* background-color: grey; */
}
header{
    width: 100%;
    height: 100px;
    /* background-color: blue; */
}
header .top-bar{
    width: 100%;
    height: 20%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
header .top-bar .left img{
    height: 15px;
}
header .top-bar .right span{
    color: white;
    padding-left: 5px;
}
header .top-bar .right i{
    padding-left: 5px;
    color: orangered;
}
header nav{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav .image{
    width: 90px;
}
header nav .image img{
    width: 100%;
}
header nav .nav-items img{
    width: 40px;
}
header nav .nav-items a{
    text-decoration: none;
    color: black;
    padding-left: 10px;
}
header nav .nav-items i{
    font-size: 1.5rem;
    visibility: hidden;
}
.hero{
    background-image: url('./Group\ 13.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 500px; */
}
.hero .welcome{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.hero .orange{
    background-image: url('./Rectangle\ 4.png');
    width: 600px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .program{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 50px;
}
.hero .orange .another{
    background-image: url('./Rectangle\ 33.png');
    width: 500px;
    margin: 14px;
    height: 40px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.hero .program .arrow {
    color: white;
    /* background-color: black; */
    width: 50px;
    height: 40px;
    padding: 2px;
    font-size: 2rem;
    display: inline-block;
}
.hero p{
    color: white;
    background-color: rgb(250, 88, 29);
    width: 130px;
}
.about{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
}
.about .box1{
    width: 48%;
    margin: 10px;
}
.about .box1 img , p{
    padding: 15px;
}
.about .box2{
    width: 48%;
    margin: 10px;
}
.about .box2 img{
    width: 100%;
    padding: 10px;
}
.bg-image1{
    background-image: url('./world-map-hi\ 1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}
.bg-image1 .program{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.bg-image1 .container1 .boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 30px;
}
.bg-image1 .container1 .boxes .box-1{ 
    border-radius: 15px ;
    background-color: rgb(245, 244, 244);
    width: 480px;
    height: 150px;
    display: flex;
}
.bg-image1 .container1 .boxes .box-1 .line-1{
    width: 40%;
    padding: 20px;
}
.bg-image1 .container1 .boxes .box-1 .line-1 img{
    width: 100%;
}
.bg-image1 .container1 .boxes .box-1 .line-2{
    width: 40%;
    padding: 10px;
    margin: 2px;
}
.bg-image1 .container1 .boxes .box-1 .line-2 img{
    width: 100%;
}
.bg-image1 .container1 .boxes .box-1 .last{
    float: left;
    width: 60px;
    height: 20px;
    padding: 5px;
    align-self: flex-end;
}
.bg-image1 .container1 .boxes .box-1 .last1{
    float: left;
    padding: 3px;
    margin: 1px;
    align-self: flex-end;
}
.bg-image1 .container1 .boxes .box-2{ 
    border-radius: 15px ;
    background-color: rgb(245, 244, 244);
    width: 480px;
    height: 150px;
    display: flex;
}
.bg-image1 .container1 .boxes .box-2 .line-1{
    width: 40%;
    padding: 20px;
}
.bg-image1 .container1 .boxes .box-2 .line-1 img{
    width: 100%;
}
.bg-image1 .container1 .boxes .box-2 .line-2{
    width: 40%;
    padding: 10px;
    margin: 2px;
}
.bg-image1 .container1 .boxes .box-2 .line-2 img{
    width: 100%;
}
.bg-image1 .container1 .boxes .box-2 .last{
    float: left;
    width: 60px;
    height: 20px;
    padding: 5px;
    align-self: flex-end;
}
.bg-image1 .container1 .boxes .box-2 .last1{
    float: left;
    padding: 3px;
    margin: 1px;
    align-self: flex-end;
}
.bg-image1 .button-2{
    background-image: url('./Rectangle\ 4.png');
    width: 120px;
    height: 40px;
}
.bg-image1 .button-2 .view{
    padding: 10px; 
}
.investment{
    background-image: url('./Group\ 14.png');
    width: 100%;
}
.investment .options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}
.investment .options img{
    padding: 10px;

}
.investment .rectangle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.investment .rectangle .card-1{
    border: 2px solid beige;
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: 15px;
}
.card-1 .sides{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.card-1 .sides .left{
    height: 20px;
}
.investment .rectangle .card-1 .body img{
    padding: 10px;
}
.investment .rectangle .card-1 .body .arrow{
    width: 60px;
    height: 30px;
}
.investment .rectangle .card-2{
    border: 2px solid beige;
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: 15px;
}
.card-2 .sides{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.card-2 .sides .left{
    height: 20px;
}
.investment .rectangle .card-2 .body img{
    padding: 10px;
}
.investment .rectangle .card-2 .body .arrow{
    width: 60px;
    height: 30px;
}
.investment .rectangle .card-3{
    border: 2px solid beige;
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: 15px;
}
.card-3 .sides{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.card-3 .sides .left{
    height: 20px;
}
.investment .rectangle .card-3 .body img{
    padding: 10px;
}
.investment .rectangle .card-3 .body .arrow{
    width: 60px;
    height: 30px;
}
.experience{
    width: 100%;
}
.experience .trust{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    /* width: 100%; */
}
.experience .trust img{
    padding: 10px;
}
.experience .card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.experience .card .card1 , .card2 , .card3{
    width: 250px;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.experience .card .card1 .body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.experience .card .card2 .body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.experience .card .card3 .body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.other{
    width: 100%;
}
.other .some{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}
.other .some img{
    padding: 20px;
}
.other .houses{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.other .houses .card-1{
    width: 350px;
    margin: 20px;
    box-shadow: 5px 10px 12px 2px rgb(206, 202, 202);
}
.other .houses .card-1 .mask{
    width: 100%;
}
.other .houses .card-1 .body{
    padding: 10px;
}
.other .houses .card-1 .body img{
    padding: 10px;
}
.other .houses .card-2{
    width: 350px;
    margin: 20px;
    box-shadow: 5px 10px 12px 2px rgb(206, 202, 202);
}
.other .houses .card-2 .mask{
    width: 100%;
}
.other .houses .card-2 .body{
    padding: 10px;
}
.other .houses .card-2 .body img{
    padding: 10px;
}
.other .houses .card-3{
    width: 350px;
    margin: 20px;
    box-shadow: 5px 10px 12px 2px rgb(206, 202, 202);
}
.other .houses .card-3 .mask{
    width: 100%;
}
.other .houses .card-3 .body{
    padding: 10px;
}
.other .houses .card-3 .body img{
    padding: 10px;
}
.other .program{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    /* background-color: red; */
}
.other .button-2{
    background-image: url('./Rectangle\ 4.png');
    width: 120px;
    height: 38px;
}
.other .button-2 .view{
    padding: 10px; 
}
.subscribe{
    background-image: url('./Rectangle\ 4.png');
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    position: relative;
    top: 70px;
}
.subscribe .one{
    height: 100px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    /* padding: 10px; */
}
.subscribe .one img{
    width: 300px;
    padding-top: 10px;
}
.subscribe .two{
    display: flex;
    width: 50%;
    padding-left: 10px;
}
.subscribe .two .white{
    background-image: url('./Rectangle\ 33.png');
    width: 70%;
    height: 50px;
    padding: 15px;

}
.subscribe .two .black{
    background-image: url('./Rectangle\ 2.png');
    width: 15%;
    height: 50px;
    padding: 15px;
}
.subscribe .two .black img{
    width: 90%;
}




.footer{
    margin-top: 20px;
    background-image: linear-gradient(rgba(41, 34, 34, 0.548),rgba(44, 44, 44, 0.575)), url('./world-map-hi\ 1.png');  
    width: 100%;
    /* height: 500px; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
}
.footer .line-1{
    width: 400px;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
    gap: 30px;
}
.footer .line-1 .logo{
    width: 100px;
}
.footer .line-1 .img{
    width: 100%;
}
.footer .line-2{
    width: 300px;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.footer .line-2 img{
    width: 100px;
}
.footer .line-3{
    padding: 20px;
    margin-top: 50px;
    /* border: 2px solid black; */
}
.footer .lines{
    /* border: 2px solid red; */
    width: 500px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
}
.footer .lines .first{
    padding: 20px;
}
.footer .lines .second{
    display: flex;
    flex-direction: column;

}
.footer .lines .second h5{
    font-size: 1.2rem;
    color: rgb(224, 101, 56);
}
.footer .lines .second p{
    color: white;
}
.footer .lines .third h5{
    font-size: 1.2rem;
    color: rgb(224, 101, 56);
}
.footer .lines .third p{
    color: white;
}
.footer .line-3 i{
    float: right;
    font-size: 2rem;
    padding: 20px;
    color: white;
}





@media (max-width:1065px){
    .about .box1{
        width: 100%;
    }
    .about .box2{
        width: 100%;
    }
}
@media (max-width:738px){
    .bg-image1 .program .making{
        width: 400px;
    }
}
@media (max-width:722px){
    .subscribe .one img{
        width: 200px;
        /* padding-top: 10px; */
    }
    /* .subscribe .two{
        display: flex;
        width: 50%;
        padding-left: 10px;
    } */
    .subscribe .two .white{
        height: 40px;
        padding: 10px;
    
    }
    .subscribe .two .black{
        height: 40px;
        padding: 10px;
    }
}
@media (max-width:700px){
    header{
        width: 100%;
        height: 80%;
    }
    header nav .image{
        width: 80px;
    }
    header nav .nav-items i{
        visibility: visible;
        /* padding-right: 5px; */
    }
    header nav .nav-items a{
        /* visibility: hidden; */
        display: none;
        font-size: .1rem;
    }
    header .top-bar{
        /* visibility: hidden; */
        display: none;
    }
    header .top-bar .right{
        /* font-size: .1rem; */
    }
}
@media (max-width:690px){
    .other .some .example{
        width: 500px;
    }
}
@media (max-width:680px){
    .footer .lines{
        width: 100%;
    }
}
@media (max-width:622px){
    .hero .program{
        /* position: relative; */
        padding-bottom: 20px;
        /* width: 400px; */
        /* top: 0px; */
        /* bottom: 30px; */
        /* padding-top: 10px; */
    }
    .hero .orange{
        width: 450px;
        height: 50px;
    }
    .hero .orange .another{
        width: 430px;
        margin: 10px;
        height: 30px;
    }
    .hero .program .arrow {
        width: 30px;
        height: 40px;
        padding-top: 5px;
        /* padding-right: 10px; */
        font-size: 1.7rem;
    }
    .about{
        padding-top: 40px;
    }
    
}
@media (max-width:580px){
    .investment .options .some{
        width: 250px;
    }
}
@media (max-width:571px){
    .subscribe .two img{
        width: 100px;
    }
}
@media (max-width:540px){
    .about .box1 .golden{
        width: 400px;
    }
}
@media (max-width:526px){
    .subscribe .two .white{
        height: 30px;
        padding: 5px;
    
    }
    .subscribe .two .black{
        height: 30px;
        padding: 5px;
    }
    .subscribe .one img{
        width: 150px;
    }
    /*  */
}
@media (max-width:510px){
    .hero .lavida{
        width: 300px;
    }
    .hero .offers{
        width: 400px;
    }
    .hero p{
        width: 100px;
        padding: 9px;
        font-size: .8rem;
    }
    .hero .orange{
        width: 400px;
        height: 50px;
    }
    .hero .orange .another{
        width: 360px;
        height: 30px;
    }
    .hero .orange .another img{
        width: 100px;
    }
    .hero .program .arrow {
        padding-top: 8px;
        font-size: 1.3rem;
    }
    .other .some .example{
        width: 350px;
    }
    .experience .trust img{
        width: 300px;
    }
}
@media (max-width:475px){
}

@media (max-width:417px){
    .about .box1 .golden{
        width: 300px;
    }
    .about .box1 p{
       font-size: 1rem; 
    }
    .bg-image1 .program .making{
        width: 200px;
    }
    .bg-image1 .container1 .boxes .box-1{ 
        height: 100px;
        display: flex;
    }
}
@media (max-width:408px){
    .hero .lavida{
        width: 200px;
    }
    .hero .offers{
        width: 300px;
    }
    .hero p{
        width: 90px;
        margin: 10px;
        padding: 9px;
        font-size: .6rem;
    }
    .hero .orange{
        width: 300px;
        height: 50px;
    }
    .hero .orange .another{
        width: 360px;
        height: 28px;
    }
    .hero .orange .another img{
        width: 90px;
    }
    .hero .program .arrow {
        padding-top: 10px;
        font-size: 1.1rem;
    }
    .hero .program .find{
        width: 200px;
    }
    .hero .program{
        /* padding-top: 15px; */
    }
}
@media (max-width:400px){
    .footer .line-1{
        width: 300px;
    }    
}
@media (max-width:398px){
    .other .some .example{
        width: 300px;
    }
}
@media (max-width:387px){
    .other .some .example{
        width: 300px;
    }
    .other .houses .card-1{
        width: 250px;
        box-shadow: none;
        border: 2px solid black;
        margin: 0%;

    }
    .other .houses .card-1 .body .para{
        width: 100%;
    }
    .other .houses .card-2{
        width: 250px;
        box-shadow: none;
        border: 2px solid black;
        margin: 0%;
    }
    .other .houses .card-2 .body .para{
        width: 100%;
    }
    
    .other .houses .card-3{
        width: 250px;
        box-shadow: none;
        border: 2px solid black;
        margin: 0%;
    }
    .other .houses .card-3 .body .para{
        width: 100%;
    }
    .subscribe{
        display: none;
    }
}
@media (max-width:316px){
    .hero{
        /* width: 100%; */
    }
    .about .box1 .golden{
        width: 200px;
    }
    .about .box1 p{
        font-size: .8rem; 
    }
    .experience .trust img{
        width: 250px;
    }
    .investment .rectangle .card-1{
        width: 200px;
        /* box-shadow: none; */
        /* margin: 0%; */
    }
    .investment .rectangle .card-1 .body .citizen{
        width: 100%;
    } 
    .investment .rectangle .card-2{
        width: 200px;
        /* margin: 0%; */
    }
    .investment .rectangle .card-2 .body .citizen{
        width: 100%;
    } 
    .investment .rectangle .card-3{
        width: 200px;
        /* margin: 0%; */
    }
    .investment .rectangle .card-3 .body .citizen{
        width: 100%;
    } 
    .other .some .example{
        width: 230px;
        padding: 10px;
    }
    .footer .line-1{
        padding: 0%;
    }
    .footer .line-1 .logo{
        width: 80px;
    }
    .footer .line-1 .img{
        width: 170px;
    }
    .footer .line-1 .copyright{
        width: 130px;
    }
    .footer .line-3{
        padding: 0%;
    }


}
@media (max-width:356px){
    .hero{
        width: 100%;
    }
    .hero .offers{
        width: 250px;
    }
    .program .orange{
        width: 240px;
    }

}
@media (max-width:274px){
    .other .houses .card-1{
        width: 200px;
    }
    .other .houses .card-2{
        width: 200px;
    }
    .other .houses .card-3{
        width: 200px;
    }
    .other .houses .card-1 .body .monte{
        width: 90%;
    }
    .other .houses .card-1 .body .price{
        width: 60%;
    }
    .other .houses .card-2 .body .monte{
        width: 70%;
    }
    .other .houses .card-2 .body .price{
        width: 60%;
    }
    .other .houses .card-3 .body .monte{
        width: 90%;
    }
    .other .houses .card-3 .body .price{
        width: 60%;
    }
    .program .button-2{
        margin-top: 20px;
    }
    .other .some .example{
        width: 180px;
    }
    .experience .trust{
        /* padding: 5px; */
        }
    .experience .trust img{
        width: 150px;
        padding: 5px;
    }
    .hero .welcome .offers{
        width: 150px;
    }
    .hero .welcome .lavida{
        width: 180px;
    }
    .hero .program .find{
        width: 150px;
    }
    .hero .program .orange{
        width: 150px;
    }

    .hero .orange .another{
        /* background-image: url('./Rectangle\ 33.png'); */
        width: 100px;
        /* border: 2px solid black; */
        /* margin: 14px; */
        /* height: 40px; */
        /* display: inline-block; */
        /* display: flex; */
        /* justify-content/: space-between; */
        /* padding: 10px; */
        /* align-items: center; */
    }
    .hero .orange .another img{
        width: 60%;
    }
    .hero .orange .another i{
        font-size: .7rem;
    }
    .hero .program .arrow {
        /* color: white; */
        /* background-color: black; */
        width: 10px;
        height: 10px;
        padding-bottom: 29px;
        padding-right: 20px;
        /* font-size: 2rem; */
        /* display: inline-block; */
    }
    .about .box1{
        width: 100%;
        margin: 0%;
    }
    .bg-image1 .program .making{
        width: 150px;
        padding: 10px;
    }
    .bg-image1 .container1 .boxes{
        padding: 10px;
    }
    .investment .options .some{
        width: 200px;
    }
} 
@media (max-width:221px){
    .about .box1 .golden{
        width: 150px;
    }
    .about .box1 p{
        font-size: .7rem; 
        padding: 5px;
    }
    .about .box1 img{
        padding: 5px;
    }
    /* .other .houses .card-3{
        width: 200px;
        box-shadow: none;
        border: 2px solid black;
        margin: 0%;
    } */
}